<ion-header>
  <ion-toolbar>
    <ion-title>Article's list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: left">
      <Ion-Button color="primary" (click)="fetchArticle()" > Fetch articles
        <ion-spinner id="loader"paused=true name="dots"></ion-spinner>
      </Ion-Button>
      <Ion-Button color="primary" (click)="generateLDA()" > Generate LDA model
        <ion-spinner id="loaderLDA"paused=true name="dots"></ion-spinner>
      </Ion-Button>
  </div>
  <p-table #dt [columns]="cols" [value]="articles" [paginator]="true" [rows]="15" >

    <ng-template pTemplate="caption">
      <div style="text-align: right">
          <ion-icon name="search-circle-outline" style="font-size: 1.5em"></ion-icon>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
      <ng-template pTemplate="header" let-columns>
        <th *ngFor="let col of columns" style="width: {{col.width}};">
            {{col.header}}
        </th>
      </ng-template>
      <ng-template pTemplate="body" let-article let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
                {{article[col.field]}}
              </td>
               <td><Ion-Button color="primary" (click)="getArticleDet(article.pmid)" ><ion-icon name="document-text-outline"></ion-icon></Ion-Button></td>
          </tr>
      </ng-template>
  </p-table>

</ion-content>
